@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

@media (max-width: 959px) {
	.tech-stack-container > :nth-child(n + 9) {
		display: none;
	}
}

@media (max-width: 768px) {
	.tech-stack-container > :nth-child(n + 7) {
		display: none;
	}
}
